{% extends "layout1.html" %}

{% block content %}

<h1>API</h1>

<div>
    <ul>
        {% for key in keys %}
            <li>
                {{ key.name }} 
                <button onclick="confirmDelete({{ key.id }})">Удалить</button> 
                <button onclick="/edit_api_key/{{ key.id }}">Редактировать</button>
            </li>
        {% endfor %}
    </ul>
    <ul>
        <li>
            <a href="/api_manager">Добавить API-key</a>
        </li>
    </ul>
</div>

<script>
function confirmDelete(id) {
    if (confirm("Вы действительно хотите удалить этот API-ключ?")) {
        window.location.href = "/delete_api_key/" + id;
    }
}
</script>


<h1>Списки Монет</h1>

<div>
    <ul>
        <li>
            <a href="/coinlist_manager">Редактировать Списки Монет</a>
        </li>
    </ul>
</div>


<h1>Кошельки</h1>

<div>
    <ul>
        <li>
            <a href="/depo_manager">Редактировать Депозиты</a>
        </li>
    </ul>
</div>


<h1>Стратегии</h1>

<div>
    <ul>
        <li>
            <a href="/strategy_manager">Редактировать Стратегии</a>
        </li>
    </ul>
</div>


{% endblock %}